<%= form_with(model:@diary, local:true)do |form| %>
  <div>
    <%= form.label 'タイトル' %>
    <%= form.text_area :title %>
    <%= form.label '日付' %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.nested_fields_for :articles, wrapper_tag: :div do |article| %>
      <%= article.label '項目' %>
      <%= article.collection_select :item_id, Item.all, :id, :item_name %>
      <%= article.label :article %>
      <%= article.text_area :article %>
      <%= article.remove_nested_fields_link "項目を減らす" %>
    <% end %>
  </div>

  <%= form.add_nested_fields_link :articles, "項目を増やす" %>


  <%= form.submit "送信" %>
<% end %>
