<h1>diaries#index</h1>
<p>Find me in app/views/diaries/index.html.erb</p>

<% @diaries.each do |diary| %>
  <div>
    <div>
      <p>投稿した日付：
        <%= diary.date %>
      </p>
    </div>
    <% diary.articles.each do |article| %>
      <div>
        <p>項目名：
          <%= article.item.item_name %>
        </p>
      </div>
      <div>
        <p>内容：
          <%= article.article %>
        </p>
      </div>
    <% end %>
    <%= link_to '詳細へ', diary_path(diary.id) %>
  </div>
<% end %>
<br>
<%= link_to '新規投稿', new_diary_path %>
