<h1>diary#show</h1>
<div>
  <%= @diary.title %>
  <% @diary.articles.each do |article| %>
    <p>項目名：
      <%= article.item.item_name %>
    </p>
    <p>内容：
      <%= article.article %>
    </p>

    <%= form_with(model:Comment.new) do |form| %>
      <%= form.label 'コメント' %>
      <%= form.text_area :comment %>
      <%= form.hidden_field :article_id, :value => article.id %>
      <%= form.submit '送信する' %>
    <% end %>
  <% end %>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { article: @articles } %>
  </div>
</div>
